* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* width: 100%;　いらない */
    padding: 30px 20px;
    background-color: rgb(253, 1, 253);
    display: flex;
    justify-content: flex-end;
}

.header-items {
    flex-basis: 140px;
    height: 70px;
    margin: 0 10px;
    background-color: #ffccff;
}

header > :first-child {
    margin-right: auto;
}

main {
    display: flex;
    justify-content: center;
}

.main-content {
    width: 300px;
    background-color: rgb(158, 231, 158);
}

.item-space {
    max-width: 700px;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    /* 入れてなかった */
    justify-content: center;
}

.item {
    height: 130px;
    flex-basis: 200px;
    margin: 10px;
    background-color: yellow;

}

footer {
    /* width: 100%;　いらない */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(77, 123, 247);
}

.footer-item {
    flex-basis: 45%;
    height: 40px;
    margin: 10px;
    background-color: rgb(172, 199, 240);
}